<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% @table_headers.each do |header| %>
          <Cell><Data ss:Type="String"><%= header %></Data></Cell>
        <% end %>
      </Row>
      <% count = @selected_data.count %>
      <% records = @selected_data[0].count %>
      <% (0...records).each do |i| %>
          <Row>
            <% (0...count).each do |j|%>
              <Cell><Data ss:Type="String"><%=@selected_data[j][i] unless @selected_data[j][i].empty? %></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>