<div class="container" style="margin-left:530px;padding:20px">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Result</button>
</div>
<div class="container well">
  <table class="table table-hover">
    <thead>
    <tr>
      <% @table_headers.each do |header| %>
          <th><%= header %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% count = @selected_data.count %>
    <% records = @selected_data[0].count %>
    <% (0...records).each do |i| %>
    <tr>
      <% (0...count).each do |j|%>
          <td><%=@selected_data[j][i] unless @selected_data[j][i].empty? %></td>
      <% end %>
    </tr>
    <%end%>
    </tbody>
  </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Download File</h4>
      </div>
      <div class="modal-body">
        <p><input type='text' style='width:260px' placeholder='File Name' id='name' class='form-control'></p>
        <select class="selectpicker" title='Select File'>
          <option>Select File</option>
          <option>CSV</option>
          <option>Excel</option>
        </select>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Download</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
   $(function(){
       $('.selectpicker').selectpicker();
   })
</script>